<h1 class="admin-title">ENGINE: ADMIN APPLICATION TEMPLATE</h1>

<h2>User Model from route</h2>
{{model.firstName}} {{model.lastName}}

<br><br>

<h2>Link to main app</h2>
{{link-to-external 'Core: Dashboard' 'dashboard'}}

<br><br>

<h2>Component from Addon</h2>
{{super-button}}

<br><br>

<h2>Helper from Addon</h2>
{{capitalize 'test'}}

{{outlet}}
